@use "../utils/" as ut;

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-inter);
    color: var(--primary-text-color);

    overflow-x: hidden;
}

button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
    background: transparent;
}

.heading {
    font-family: var(--font-poppins);
    color: var(--heading-color);
}

h1.heading {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 70px;
}

h2.heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px;
}

h3.heading {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 26px;
}

h4.heading {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 32px;
}
h5.heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 30px;
}

.desc {
    line-height: 26px;
}
.desc--sm {
    font-size: 1.4rem;
    line-height: 20px;
}

@include ut.screen(lg) {
    h1.heading {
        font-size: 4rem;
        line-height: 50px;
    }
    h2.heading {
        font-size: 2.4rem;
        line-height: 32px;
    }

    .desc {
        font-size: 1.4rem;
        line-height: 20px;
    }
}
