@use "../utils/" as ut;
.search-bar {
    margin-top: 100px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 40px 100px 0 rgba(110, 110, 110, 0.08);

        padding: 25px 40px;

        @include ut.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            gap: 32px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-weight: 600;
        line-height: 16px;
        color: var(--heading-color);
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 14px;
    }
}
