<div class="row">
    <div class="col col-5 dn">
        <div class="choose__media">
            <a href="#!">
                <img
                    src="./asset/imgs/choose.png"
                    alt="Why Choose Us?"
                    class="choose__img"
                />
            </a>
        </div>
    </div>
    <div class="col col-6 col-lg-12 offset-1 offset-lg-0">
        <div class="choose__content">
            <h2 class="heading choose__heading">Why Choose Us?</h2>
            <p class="desc choose__desc">
                We make all the process easy. Dummy text ever since the is, when
                an unknown printer took.
            </p>

            <div class="choose__introduce">
                <div class="choose__introduce--item">
                    <a href="#!">
                        <img
                            src="./asset/icons/choose/word.svg"
                            alt=" We make all the process easy"
                            class="choose__introduce--icon"
                        />
                    </a>

                    <div class="choose__introduce--content">
                        <a href="#!">
                            <h6 class="heading choose__introduce--title">
                                We make all the process easy
                            </h6>
                        </a>
                        <p class="desc--sm choose__introduce--desc">
                            A galley of type and scrambled it to make a type
                            when an unknown printer took
                        </p>
                    </div>
                </div>

                <div class="choose__introduce--item">
                    <a href="#!">
                        <img
                            src="./asset/icons/choose/suitcase.svg"
                            alt=" Private & Customized Tours"
                            class="choose__introduce--icon"
                        />
                    </a>

                    <div class="choose__introduce--content">
                        <a href="#!">
                            <h6 class="heading choose__introduce--title">
                                Private & Customized Tours
                            </h6>
                        </a>
                        <p class="desc--sm choose__introduce--desc">
                            A galley of type and scrambled it to make a type
                            when an unknown printer took
                        </p>
                    </div>
                </div>

                <div class="choose__introduce--item">
                    <a href="#!">
                        <img
                            src="./asset/icons/choose/passport.svg"
                            alt=" Immigration & Passport Help"
                            class="choose__introduce--icon"
                        />
                    </a>

                    <div class="choose__introduce--content">
                        <a href="#!">
                            <h6 class="heading choose__introduce--title">
                                Immigration & Passport Help
                            </h6>
                        </a>
                        <p class="desc--sm choose__introduce--desc">
                            A galley of type and scrambled it to make a type
                            when an unknown printer took
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
