<div class="container">
    <div class="footer__inner">
        <div class="row row-cols-4 row-cols-lg-2 gy-lg-4">
            <div class="col col-2">
                <h5 class="footer__heading">Resources</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Download </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Help Center</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Guide Book</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">App Directory</a>
                    </li>
                </ul>
            </div>
            <div class="col col-2 offset-1 offset-lg-0">
                <h5 class="footer__heading">Travellers</h5>

                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Why Travellers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Enterprice</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Customer Stories</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Instagram post</a>
                    </li>
                </ul>
            </div>
            <div class="col col-2 offset-1 offset-lg-0">
                <h5 class="footer__heading">Company</h5>

                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Travelling</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About Locato</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Success</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Information</a>
                    </li>
                </ul>
            </div>
            <div class="col col-3 offset-1 offset-lg-0">
                <div class="footer__get">
                    <h5 class="footer__heading">Get in Touch</h5>

                    <div class="footer__list">
                        <p class="desc footer__desc">
                            Feel free to get in touch with us vai email
                        </p>
                        <a
                            href="mailto:email@gmail.com"
                            class="footer__link--email"
                            >email@gmail.com</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <!-- stock -->
        <div
            class="stock"
            style="
                border: 1px solid rgba(210, 208, 192, 0.21);
                margin: 40px 0 50px;
            "
        ></div>

        <!-- sub header -->
        <div class="header__inner">
            <!-- logo -->
            <div class="logo">
                <a href="#!">
                    <img src="./asset/imgs/Logo.png" alt="Safe Tour" />
                </a>
            </div>

            <!-- navbar -->
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item active">
                        <a href="#!" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#!" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#!" class="nav__link">Destinations</a>
                    </li>
                    <li class="nav__item">
                        <a href="#!" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#!" class="nav__link">Pages</a>
                    </li>
                </ul>
            </nav>

            <div class="social">
                <div class="social__icon">
                    <a href="#!">
                        <img src="./asset/icons/facebook.svg" alt="facebook" />
                    </a>
                </div>
                <div class="social__icon">
                    <a href="#!">
                        <img
                            src="./asset/icons/instagram.svg"
                            alt="instagram"
                        />
                    </a>
                </div>
                <div class="social__icon">
                    <a href="#!">
                        <img src="./asset/icons/twitter.svg" alt="twitter" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
