<div class="container">
    <div class="header__inner">
        <!-- logo -->
        <div class="logo">
            <a href="#!">
                <img src="./asset/imgs/Logo.png" alt="Safe Tour" />
            </a>
        </div>

        <!-- tablet & mobile -->

        <input type="checkbox" name="checkbox" id="checkbox" hidden />
        <div class="menu" hidden>
            <label for="checkbox">
                <img src="./asset/icons/Menu.svg" alt="menu" />
            </label>
        </div>

        <label for="checkbox" class="overlay" hidden></label>

        <!-- navbar -->
        <nav class="nav">
            <label for="checkbox" class="close" hidden>
                <img src="./asset/icons/arrow.svg" alt="arrow" />
            </label>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Destinations</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Pages</a>
                </li>
            </ul>
        </nav>

        <button class="btn btn--header">Contact us</button>
    </div>
</div>
