<img
    src="./asset/icons/triangle.svg"
    alt="triangle"
    class="newsletter__icons--triang"
/>
<img
    src="./asset/icons/semicircle.svg"
    alt="semicircle"
    class="newsletter__icons--cricle"
/>

<div class="newsletter__inner">
    <h2 class="heading newsletter__heading">Subscribe our newsletter</h2>

    <p class="desc newsletter__desc">
        Reciev latest news, update, and many other things every week.
    </p>

    <form action="" class="newsletter__form">
        <input
            class="newsletter__input"
            type="text"
            name="email"
            id="email"
            placeholder="Enter Your email address"
        />
        <div class="newsletter__icon">
            <a href="#!">
                <img src="./asset/icons/plane.svg" alt="plane" />
            </a>
        </div>
    </form>
</div>
