<div class="recent__left">
    <a href="#!">
        <img
            src="./asset/imgs/blog.png"
            alt="Exploring Argentina and Chile by Bus"
            class="recent__left--img"
        />
    </a>
    <a href="#!">
        <h2 class="recent__left--title heading">
            Exploring Argentina and Chile by Bus
        </h2>
    </a>
</div>

<div class="recent__right">
    <div class="recent__right--search">
        <input
            class="recent__right--input"
            type="text"
            name="text"
            placeholder="Search Blog"
        />
        <button class="btn btn--primary btn--primary-sm">Search</button>
    </div>

    <h4 class="heading recent__right--title">Recent Blog</h4>

    <div class="recent__right--travel">
        <div class="recent__right--item">
            <a href="#!">
                <img
                    src="./asset/imgs/travel-1.png"
                    alt="7 Tips For Nomads On A Budget Trips"
                    class="recent__right--img"
                />
            </a>

            <a href="#!">
                <h5 class="heading recent__right--sub-title">
                    7 Tips For Nomads On A Budget Trips
                </h5>
            </a>
        </div>

        <div class="recent__right--item">
            <a href="#!">
                <img
                    src="./asset/imgs/travel-2.png"
                    alt="Luxury travel: the most remote resorts in Philippines"
                    class="recent__right--img"
                />
            </a>

            <a href="#!">
                <h5 class="heading recent__right--sub-title">
                    Luxury travel: the most remote resorts in Philippines
                </h5>
            </a>
        </div>

        <div class="recent__right--item">
            <a href="#!">
                <img
                    src="./asset/imgs/travel-3.png"
                    alt="Top travel destinations the experts say"
                    class="recent__right--img"
                />
            </a>

            <a href="#!">
                <h5 class="heading recent__right--sub-title">
                    Top travel destinations the experts say
                </h5>
            </a>
        </div>
    </div>
</div>
