<div class="row">
    <div class="col-lg-12 col-8 offset-lg-0 offset-2">
        <div class="search-bar__list">
            <div class="search-bar__item">
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__title">Location</span></a
                >
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__desc">Bali, Indonesia</span
                    ><img src="./asset/icons/arrow-down.svg" alt="arrow"
                /></a>
            </div>

            <div class="search-bar__item">
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__title">City</span></a
                >
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__desc">Prambanan</span
                    ><img src="./asset/icons/arrow-down.svg" alt="arrow"
                /></a>
            </div>

            <div class="search-bar__item">
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__title">Guest</span></a
                >
                <a href="#!" class="search-bar__link"
                    ><span class="search-bar__desc">8 Persons</span
                    ><img src="./asset/icons/arrow-down.svg" alt="arrow"
                /></a>
            </div>

            <button class="btn btn--search">
                <img src="./asset/icons/search.svg" alt="search" />
                <span>Search</span>
            </button>
        </div>
    </div>
</div>
