@use "../utils/" as ut;
#about {
    position: relative;

    #header {
        background-color: transparent;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 502px;

        &__heading {
            font-size: 13.6rem;
            line-height: 150px;

            color: var(--primary-color);

            @include ut.screen(lg) {
                font-size: 6.4rem;
                line-height: 50px;
            }

            @include ut.screen(md) {
                font-size: 4rem;
            }
        }

        &__img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 590px;
            width: 100vw;
            object-fit: cover;
        }
    }

    // who

    .who {
        margin-top: 140px;

        .row {
            align-items: center;
        }

        &__content {
            padding-right: 50px;
        }

        &__strong {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 32px;

            color: var(--primary-color);
        }

        &__heading {
            margin-top: 10px;
        }

        &__desc {
            margin-top: 20px;

            @include ut.screen(lg) {
                margin-top: 14px;
            }
        }

        &__media {
            width: 870px;
            height: 482px;
            @include ut.screen(lg) {
                margin-top: 30px;
                width: 100%;
                height: 100%;
            }
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 24px;
        }
    }

    // meet

    .meet {
        margin-top: 140px;
        &__heading {
            text-align: center;
        }

        &__list {
            margin-top: 60px;

            @include ut.screen(lg) {
                margin-top: 40px;
            }
        }

        &__img {
            width: 100%;
            height: 306px;
            object-fit: cover;
            border-radius: 12px;
        }

        &__content {
            display: flex;
            justify-content: space-between;

            margin-top: 20px;
        }

        &__name {
            display: inline-block;
            margin-top: -8px;
            font-size: 2rem;
            font-weight: 600;
            line-height: 30px;
            color: var(--heading-color);
        }

        &__desc {
            margin-top: 4px;
        }

        &__follow {
            display: flex;
            gap: 12px;

            &--icon {
                color: #676a6c;
            }
        }
    }
}
