@use "../utils/" as ut;

#page {
    .page {
        &__top {
            position: relative;

            margin-top: 120px;
            margin-bottom: 140px;

            @include ut.screen(lg) {
                margin-top: 52px;
                margin-bottom: 70px;
            }

            &--heading {
                text-align: center;
            }

            &--img {
                position: absolute;
                z-index: -1;
                top: -17rem;
                left: 37rem;

                @include ut.screen(lg) {
                    width: 189.42px;
                    height: 192px;

                    top: -7rem;
                    left: 25rem;
                }

                @include ut.screen(md) {
                    top: -6rem;
                    left: 14rem;
                }

                @include ut.screen(sm) {
                    top: -6rem;
                    left: 10rem;
                }
            }
        }

        &__list {
            margin-top: 100px;
        }

        &__item {
            margin-top: 40px;

            border-radius: 10px;
            background-color: #ececec;
            transition: 0.4s;

            &:hover {
                translate: 0 -15px;
            }
            &--title.heading {
                @include ut.screen(lg) {
                    font-size: 2rem;
                    line-height: 30px;
                    font-weight: 600;
                }
            }

            &--img {
                width: 100%;
                height: 353px;
                object-fit: cover;
                border-radius: 10px 10px 0 0;
            }

            &--content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                padding: 30px;
            }

            &--qnt {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }

            &--day {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 26px;

                text-align: end;

                @include ut.screen(lg) {
                    font-size: 1.2rem;
                    line-height: 18px;
                }
            }

            &--price {
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 32px;

                color: var(--heading-color);

                @include ut.screen(lg) {
                    font-size: 2rem;
                    line-height: 30px;
                }
            }
        }
    }
}
