html {
    // font style
    --font-poppins: "Poppins", serif;

    // color

    --primary-color: #ff7b29;
    --sub-primary-color: #31c3e0;
    --btn-primary-shadow: rgba(229, 89, 54, 0.16);
    --btn-search-color: #132742;
    --btn-search-shadow: rgba(0, 0, 0, 0.2);

    --primary-text-color: rgba(103, 106, 108, 1);
    --heading-color: rgba(45, 49, 52, 1);
}
